description = "Esqueleto web"
==
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ this.page.title }}</title>
    <meta name="description" content="{{ this.page.description }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  
    {% styles %}
  </head>
  <body>
    {% partial 'header' %}
    
    {% page %}

    {% partial 'footer' %}

    {% scripts %}
  </body>
</html>